@import "mobiscroll.javascript.min";

body {
    background-color: #fff;
}
#headerContainer {
    margin: 0px;
    margin-bottom: 0px;
    display: flex;
    box-sizing: border-box;
    background-color: black;
   
}

.containerPadder {
    margin-bottom: 5px;
}

#header-h1-text {
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    box-sizing: border-box;
    width: fit-content;
}

h2.font {
  font-family: 'PT Serif', serif;
}


#rootLoader {
  flex: 1 ;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.noMargin 
{
    margin: 0px;
    padding: 0px;
}

.tooltipData {
    font-size: small;
   
  }
  #tooltip {
    opacity: 0;
    position: absolute;
    width: 150px;
    height: 60px;
    padding: 10px;
    border-radius: 8px;
    background-color: #263238;
    color: white;
  }

  #caption {
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    font-family: serif;
    font-size: 20pt;
  }
  #container {
    width: 100vw;
    height: 100vh;
    background:#edf0f1;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #canvas {
    width: 90%;
    height: 90%;
    background-color: #fcf3f2;
    margin: 0px;

  }
  path.path_geo {
    stroke-width: 0.5px;
    stroke: black;
  }
  .containers {
    flex: 1;
    display: none;
    background-color: white;
  }

  .containerPadder {
    padding: 20px;
    margin: 10px
  }
  #graphContainer1 {
    margin-top: 10px;

  }
  #graphContainer2 {
    margin-top: 10px;
    margin-bottom: 10px;

  }
  #selectedCountryTextContainer {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  #graphContainer3 {
    margin-bottom: 10px;

  }
  body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
  }
  .worldContainer {
    background-color: white;
    flex: 4;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  }
  .graphContainer {
    background-color: white;
    flex: 3;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);

  }

  .slider-container {
    background-color: #a90000;
    height: 50%,
    
  }

  .colorScaleContainer {
    width: 100%;
    background-color: #fcf3f2;
    display: flex;
   height: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
 
  .worldTextContainer{
    width: 100%;
    background-color: #fcf3f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .colorScale {
    height: 10px;
    width: 80%;
    background: linear-gradient(to right, #ffafab, #630500);
  }

  .colorScaleRangeContainer {
    width: 80%;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
  
  }

  .mbsc-padding.md-header {
    font-size: 1.25em;
    font-weight: 400;
    padding: .8em .8em .4em .8em;
}

.md-dateslider .mbsc-padding {
    text-align: center;
}

.md-check-cont {
    padding: 8px 0 16px 0;
}

.md-check {
    display: inline-block;
    width: 32px;
    height: 32px;
    font-size: 26px;
   ;
    line-height: 23px;
    border-radius: 33px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.demo-theme-mobiscroll .md-check {
    background: #4ECCC4;
    color: #000;
}

.demo-theme-mobiscroll-dark .md-check {
    background: #4ECCC4;
    color: #000;
}

.demo-theme-material .md-check {
    background: #009688;
    color: #000;
}

.demo-theme-material-dark .md-check {
    background: #81ccc4;
    color: #000;
}

.demo-theme-ios .md-check {
    background: #1272dc;
    color: #000;
}

.demo-theme-ios-dark .md-check {
    background: #ff8400;
    color: #000;
}

.demo-theme-android-holo .md-check {
    background: #31c6e7;
    color: #000;
}

.demo-theme-android-holo-light .md-check {
    background: #31c6e7;
    color: #000;
}

.demo-theme-wp .md-check {
    background: #1a9fe0;
    color: #000;
}

.demo-theme-wp-light .md-check {
    background: #1a9fe0;
    color: #000;
}


